{
    auto_https off
    log {
        level DEBUG
    }

    oidc example {
        issuer_url http://oidc-provider/example
        client_id xyz
        redirect_uri http://caddy/oauth/callback
        secret_key VTQOz22ZZiyYNciwtDyckU1aJWQSCXnm
        cookie {
            insecure
        }
    }
}

http:// {
    log

    oidc example {
        allow {
            # An empty allow block is equivalent to match any valid non-anonymous user.
        }
    }

    respond "Authorized"
}