{
    auto_https off
    log {
        level DEBUG
    }

    oidc example {
        issuer http://oidc-provider/example
        client_id xyz
        redirect_uri http://caddy/oauth/callback
        secret_key {env.OIDC_SECRET_KEY}
        scope openid email
        username email
        cookie {
            insecure
        }
    }
}

http:// {
    log

    oidc example {
        allow {
            # An empty allow block is equivalent to match any valid non-anonymous user from any client.
        }
    }

    respond "{http.auth.user.id}"
}